@model KieTec.Models.Produto

@{
    ViewData["Title"] = "Produto";
}

<h1>Cadastrar produto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome:</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger">Campo obrigatório</span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição:</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger">Campo obrigatório</span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label">Preço:</label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger">Campo obrigatório</span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeCriacao" class="control-label">Data de Criação:</label>
                <input asp-for="DataDeCriacao" class="form-control" />
                <span asp-validation-for="DataDeCriacao" class="text-danger">Campo obrigatório</span>
            </div>
            <div class="form-group">
                <label asp-for="FornecedorId" class="control-label"></label>
                <select asp-for="FornecedorId" class ="form-control" asp-items="ViewBag.FornecedorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a role="button" class="btn btn-primary" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
