@model KieTec.Models.Produto

@{
    ViewData["Title"] = "Produto";
}

<h1 class="mt-5">Alterar informações do produto</h>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DataDeCriacao" class="control-label"></label>
                <input asp-for="DataDeCriacao" class="form-control" />
                <span asp-validation-for="DataDeCriacao" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FornecedorId" class="control-label"></label>
                <select asp-for="FornecedorId" class="form-control" asp-items="ViewBag.FornecedorId"></select>
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
            </div>
            <div class="form-group d-flex flex-column flex-sm-row gap-2 mt-5">
                <a role="button" class="btn btn-primary w-100" asp-action="Index">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
